.category {
    @include page_wrapper;
    &__header {
        padding: 20px 0 0;
        display: flex;
        flex-direction: column;
        h2 {
            padding-bottom: 10px;
            span {
                font-style: italic;
            }
        }
        button {
            &.category__header__add_button {
                @include green_button;
            }
            &.category__header__filter_button {
                @include blue_button;
            }
        }
        input {
            padding: 10px;
            margin: 10px 0 20px;
            background-color: transparent;
            color: $darkColor;
            font-family: $titleFontFamily;
            font-size: $mainFontSize;
            border: 2px solid $darkColor;
            border-radius: 10px;
            &::placeholder {
                color: $darkColor;
                opacity: 60%;
            }
        }
    }
    &__list {
        a {
            color: $altLightColor;
            &:hover {
                background-color: transparent;
            }
        }
        &__item {
            @include card2_link;
            span {
                font-size: $h1FontSize;
                span {
                    font-size: $h2FontSize;
                }
            }
        }
    }
    &__card_list {
        padding-bottom: 10px;
        > p {
            padding: 10px 0;
            a {
                color: $secondaryColor;
                &:hover {
                    background-color: $secondaryColorWOpacity;
                }
            }
        }
        &__item {
            @include card3_link;
            margin-bottom: 10px;
            &--add {
                background-color: $secondaryColor;
                box-shadow: 0 0 20px 0 $secondaryColorWOpacity;
                img {
                    margin-right: 10px;
                }
            }
        }
    }
}