.category {
    @include page_wrapper;
    &__header {
        padding: 20px 0 0;
        display: flex;
        flex-direction: column;
        h2 {
            padding-bottom: 10px;
            span {
                font-style: italic;
            }
        }
        button {
            &.category__header__add_button {
                @include green_button;
            }
            &.category__header__filter_button {
                @include blue_button;
            }
        }
    }
    &__list {
        a {
            color: $altLightColor;
            &:hover {
                background-color: transparent;
            }
        }
        &__item {
            @include card2;
            span {
                font-size: $h1FontSize;
                span {
                    font-size: $h2FontSize;
                }
            }
        }
    }
    &__card_list {
        &__item {
            background-color: $darkColor;
            color: $altLightColor;
            &--add {
                background-color: $secondaryColor;
            }
        }
    }
}