.homepage {
    @include page_wrapper;
    &__reminder {
        @include card1;
    }
    &__stats {
        margin: 0 -20px 0 -20px;
        overflow-x: scroll;
        &::-webkit-scrollbar {
            display: none;
        }          
        &__scroll {
            width: min-content;
            padding: 0 20px 0 0;
            display: flex;
        }
        &__card {
            @include card2;
            min-width: 150px;
            margin: 20px 0 20px 20px;
        }
    }
}