.menu {
    width: 90vw;
    height: 100vh;
    padding: 0 0 20px;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: $darkColor;
    color: $altLightColor;
    box-shadow: 0 0 20px 10px $darkColorWOpacity;
    box-sizing: border-box;
    overflow-y: scroll;
    animation: openMenu 1s ease;
    a {
        color: $altLightColor;
        font-weight: 600;
        &:hover {
            background-color: $secondaryColor;
        }
    }
    &--closed {
        width: 100vw;
        height: fit-content;
        padding: 0;
        z-index: 2;
        animation: none;
        a {
            &:hover {
                background-color: transparent;
            }
        }
    }
    &__header {
        display: flex;
        align-items: center;
        padding: 20px;
        button {
            margin-right: 20px;
            background-color: transparent;
            color: transparent;
            border: none;
            img {
                width: 20px;
            }
        }
        &__logo {
            height: 45px;
        }
        &__profile {
            width: 30px;
            height: 30px;
            background-color: $altLightColor;
            border-radius: 10px;
            overflow: hidden;
            a {
                
                img {
                    width: 30px;
                    height: auto;
                }
            }
        }
    }
    &--closed &__header {
        justify-content: space-between;
        align-items: center;
        button {
            margin-right: 0;
        }
    }
    &__links {
        display: flex;
        flex-direction: column;
        div {
            padding: 10px 20px;
            margin-right: 30px;
            border-radius: 0;
            a {
                font-family: $titleFontFamily;
                font-weight: initial;
                transition: 0.2s;
                &:hover {
                    color: $lightColor;
                }
            }
            &.currentPage {
                padding: 20px;
                margin: 10px 30px 10px 0;
                background-color: $altLightColor;
                border-radius: 0 10px 10px 0;
                transition: 0.2s;
                a {
                    color: $darkColor;
                    &:hover {
                        background-color: transparent;
                    }
                }
                div {
                    &.subcategories {
                        padding: 10px 0 0 20px;
                        margin-right: 0;
                        display: flex;
                        flex-direction: column;
                        a {
                            padding-bottom: 10px;
                            font-family: $mainFontFamily;
                            color: $darkColor;
                            &:last-of-type {
                                padding-bottom: 0;
                            }
                            &:hover {
                                background-color: transparent;
                            }
                        }
                    }
                }
                &:hover {
                    background-color: $lightColor;
                }
            }
        }
    }
    &__footer {
        p {
            padding: 20px 30px 10px 20px;
        }
    }
}